/* Created by: Ali Mugamai
 * Created on: Sep 2022
 * This CSS file defines the style for index.html ICS2O-A1
*/

h1 {
  background-color: #01f;
  color: hsl(147deg 0% 0%);
  padding: 25px;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 3px solid #2e93ff;
  padding: 10px;
}

body {
  background-color: #06f;
}

p {
  background-color: #47c2ff;
}

center {
  background-color: #fd358c;
}
